* {
  transition: all .1s;
}
.yellow-text {
    color: rgb(158, 158, 18);
    text-align: left;
   margin-top: 100px;
  }
  .text{
    text-align: left;
    color: rgb(82, 82, 4);
  }
  .img-fluid{
    width: 1400px;
    height: 120px;
  }
  .yellow-tex{
    color: rgb(158, 158, 18);
    text-align: left;
    padding: 20px 0px;
  }

  .container1{
    background-color: rgb(195, 195, 193);
  }
  div#service-area-main {
    float: left;
    width: 100%;
  margin-top:-200px;
}
.our-service{
  margin:65px 0px 85px;
}
.service  h1 {
  color: #070707;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.email-input {
    position: relative;
    display: inline-block;
  }
  
  .email-input input {
    border: none;
    border-bottom: 2px solid #424141;
    font-size: 16px;
    padding: 20px;
    padding-left: 25px;
    outline: none;
    color: #999;
    width: 360px;
    background-color: rgb(195, 195, 193);
  }
  
  .email-input .icon {
    position: absolute;
    top: 20px;
    right: 5px;
  }
  section{
    margin-top: 120px;
  }
.column{
    margin-left: 300px;
    margin-top: 100px;
}
.black-border-button {
    display: inline-block;
    border: 2px solid #545029;
    padding: 10px 30px;
    font-size: 20px;
    background-color: transparent;
    color: #5f5e43;
    text-decoration: none;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 690px;
  }


  .footer {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
  }
  
  .left-words {
    display: inline-block;
    margin-left: 150px;
  }
  
  .right-content {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
  }